<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238148628116-1h8c40rf33uu52trbc3sq199l1k6n9sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238148628116-1h8c40rf33uu52trbc3sq199l1k6n9sa</string>
	<key>API_KEY</key>
	<string>AIzaSyAWZkTu49zCmZtQMJJhisymKCwZtAHF2QU</string>
	<key>GCM_SENDER_ID</key>
	<string>238148628116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ichingChen.PetNote</string>
	<key>PROJECT_ID</key>
	<string>petnote-cd32b</string>
	<key>STORAGE_BUCKET</key>
	<string>petnote-cd32b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238148628116:ios:1d8d919761150f4dd94e81</string>
	<key>DATABASE_URL</key>
	<string>https://petnote-cd32b.firebaseio.com</string>
</dict>
</plist>